<div class="container homeClass">
    <h4>Privacy Policy</h4>
    Q&A - Privacy Policy Humble Beast Application
    <br/>
    <br/>
    <b>How do we access your data?</b>
    <br/>
     We access only publically available data(that is User Name and EmailId) you provide us with which is strictly necessary in order to make the application function properly. We will ensure that the personal data we collect are relevant, adequate and not excessive in relation to the purpose of the processing and its eventual use (e.g. insights, marketing, promotions).
    <br/>
    <br/>
    <b>What are the scopes used?</b>
    <br/>
    We uses https://www.googleapis.com/auth/spreadsheets scope to fetch sheets data based on logged in user from humbebeastsumir@gmail.com google drive which are available to that user. This is abosultely necessary to function the application correctly as Fitness and Meal Plans shown based on the logged in User. All the various plans are maintained in Google Sheets.
    <br/>
    <br/>
    <b>How do we store your data?</b>
    <br/>
    Our application stores you publically available data in Google Sheets. We store only the data that is absolutely necessary for our application to function in its entirety. Deleting some of this data will interrupt our application functionality. However, if you do not want us to store your data, you can send us your request to humblebeastsumir@gmail.com and we will permanently delete it from our sheets.
    <br/>
    <br/>
    <b>How do we share your data?</b>
    <br/>
    We will never transfer, sell, make copies, or share any of your data stored by the application to third party services or companies unless strictly necessary to enable the application to function properly.
  </div>
  