<div class="homeClass">
<rs-login *ngIf="loading === false" [loginModel]="landingService.loginModel$ | async" [isMobile]="isMobile"></rs-login>
<mdb-carousel class="carousel slide carousel-fade" [animation]="'slide'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img [ngClass]="isMobile ? 'd-block w-100 img-responsive' : 'd-block w-50 h-75 img-responsive'" src="../../assets/images/bb3.jpeg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div [ngClass]="isMobile ? 'carousel-caption' : 'carousel-caption-custom'">
        <h3 class="h4-responsive custom-font">Humble Beast</h3>
        <p>Welcome to Sumir Kapoor's world of fitness.</p>
        <ng-container *ngIf="!isMobile">
          <p>Please login using your Gmail Account to Customize your Plans. 
            After Login click on Top left three dots and click on Basic Information to enter your details.</p>
          <br/>
          <p>Every workout counts.
            The only bad workout is the one that didn't happen.</p>
          <br/>
          <p>Make fitness your Habit.</p>
          <br/>
          <p>Push yourself.
            Challenging yourself every day is one of the most exciting ways to live.</p>
          <br/>
          <p>Give it your best.
            The same voice that says "give up" can also be trained to say "keep going"</p>
          <br/>
        </ng-container>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img [ngClass]="isMobile ? 'd-block w-100 img-responsive' : 'd-block w-50 h-75 img-responsive'" src="../../assets/images/bb4.jpg" alt="Second slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div [ngClass]="isMobile ? 'carousel-caption' : 'carousel-caption-custom'">
        <h3 class="h4-responsive custom-font">Humble Beast</h3>
        <p>Welcome to Sumir Kapoor's world of fitness.</p>
        <ng-container *ngIf="!isMobile">
          <p>Please login using your Gmail Account to Customize your Plans. 
            After Login click on Top left three dots and click on Basic Information to enter your details.</p>
          <br/>
          <p>Every workout counts.
            The only bad workout is the one that didn't happen.</p>
          <br/>
          <p>Make fitness your Habit.</p>
          <br/>
          <p>Push yourself.
            Challenging yourself every day is one of the most exciting ways to live.</p>
          <br/>
          <p>Give it your best.
            The same voice that says "give up" can also be trained to say "keep going"</p>
          <br/>
        </ng-container>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img [ngClass]="isMobile ? 'd-block w-100 img-responsive' : 'd-block w-50 h-75 img-responsive'" src="../../assets/images/bb1.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div [ngClass]="isMobile ? 'carousel-caption' : 'carousel-caption-custom'">
        <h3 class="h4-responsive custom-font">Humble Beast</h3>
        <p>Welcome to Sumir Kapoor's world of fitness.</p>
        <ng-container *ngIf="!isMobile">
          <p>Please login using your Gmail Account to Customize your Plans. 
            After Login click on Top left three dots and click on Basic Information to enter your details.</p>
          <br/>
          <p>Every workout counts.
            The only bad workout is the one that didn't happen.</p>
          <br/>
          <p>Make fitness your Habit.</p>
          <br/>
          <p>Push yourself.
            Challenging yourself every day is one of the most exciting ways to live.</p>
          <br/>
          <p>Give it your best.
            The same voice that says "give up" can also be trained to say "keep going"</p>
          <br/>
        </ng-container>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img [ngClass]="isMobile ? 'd-block w-100 img-responsive' : 'd-block w-50 h-75 img-responsive'" src="../../assets/images/bb9.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div [ngClass]="isMobile ? 'carousel-caption' : 'carousel-caption-custom'">
        <h3 class="h4-responsive custom-font">Humble Beast</h3>
        <p>Welcome to Sumir Kapoor's world of fitness.</p>
        <ng-container *ngIf="!isMobile">
          <p>Please login using your Gmail Account to Customize your Plans. 
            After Login click on Top left three dots and click on Basic Information to enter your details.</p>
          <br/>
          <p>Every workout counts.
            The only bad workout is the one that didn't happen.</p>
          <br/>
          <p>Make fitness your Habit.</p>
          <br/>
          <p>Push yourself.
            Challenging yourself every day is one of the most exciting ways to live.</p>
          <br/>
          <p>Give it your best.
            The same voice that says "give up" can also be trained to say "keep going"</p>
          <br/>
        </ng-container>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>