$background-color: black;
$font-color: white;
$font-family-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$plan-block-font-color: black;
$font-weight-main: 400;
$background-tab-color: rgb(211, 183, 183);


// available fond-family values : 
// fantasy
// cursive
// 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
// Georgia, 'Times New Roman', Times, serif
// 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
// Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
// 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
// monospace
// sans-serif
// 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
// serif
// 'Times New Roman', Times, serif
// 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
// Verdana, Geneva, Tahoma, sans-serif
// -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif